<div class="full-width">
  <h1 mat-dialog-title>Editar usuário</h1>
  <div mat-dialog-content>
  <form>
    <div>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Usuário(e-mail)*">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Nome Completo*">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <input matInput placeholder="CPF*">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Número de telefone*">
      </mat-form-field>
    </div>
  </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Atualizar</button>
  </div>
</div>
